name: data
services:
  postgres:
    container_name: data-postgres
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ${DATA_ROOT}/postgres/initdb:/docker-entrypoint-initdb.d
    networks:
      - pangolin
    restart: unless-stopped
    ports:
    - target: 5432
      published: ${POSTGRES_PORT:-5432}
      host_ip: ${POSTGRES_BIND_IP:-127.0.0.1}
      protocol: tcp


  pgadmin:
    container_name: data-pgadmin4
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_LOG_FILE: /var/lib/pgadmin/pgadmin4.log
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - pangolin
    restart: unless-stopped

  jupyter:
    container_name: data-jupyterlab
    networks:
      - pangolin
    image: quay.io/jupyter/base-notebook:latest
    environment:
      DOCKER_STACKS_JUPYTER_CMD: lab
    volumes:
      - ${DATA_ROOT}/jupyter:/home/jovyan/work

networks:
  pangolin:
    external: true